<div class="p-6 w-full h-full">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h1 class="text-2xl font-bold mb-4 text-gray-800">Settings</h1>
    <form class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="email"
          id="email"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
          placeholder="Enter your email"
        />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Notification</label
        >
        <input type="checkbox" />
      </div>
      <app-primary-button btnText="Save changes" />
    </form>
  </div>
</div>
