<div
  class="animate-content-show ml-5 w-[500px] flex flex-col bg-[#F4F4F4] rounded-lg h-full pt-16 pl-13.5 pr-11 relative text-[#707070]"
>
  <form #form="ngForm">
    <button
      class="absolute top-0 right-3 cursor-pointer"
      [routerLink]="['../']"
    >
      <lucide-angular [img]="X" class="ml-5 mr-2.5" />
    </button>

    <div class="flex justify-between gap-4">
      <input
        type="text"
        #name="ngModel"
        required
        class="text-4xl text-[#515153] border-b"
        [(ngModel)]="todoData.name"
        name="name"
        placeholder="Todo name"
      />
      <button class="cursor-pointer group" (click)="onToggleFavourite()">
        <lucide-angular
          [img]="Star"
          [class]="
            todoData.favourite
              ? 'fill-yellow-500'
              : 'group-hover:fill-yellow-500/30'
          "
        />
      </button>
    </div>

    <div class="my-2 py-3">
      <p class="text-[#515153] mb-1">Description:</p>
      <textarea
        type="text"
        #description="ngModel"
        placeholder="write your description..."
        class="p-3 w-full bg-white border border-[#E4E4E4] rounded-lg resize-none h-[140px]"
        [(ngModel)]="todoData.description"
        name="description"
      >
      </textarea>
    </div>

    <div class="my-3">
      <p class="text-[#515153] mb-1">Tags</p>
      <app-tag-input
        (ontagSaved)="onTagSave($event)"
        (onTagRemove)="onTagRemove($event)"
        [currentTags]="todoData.tags"
        class="bg-red-500 flex-1"
      />
    </div>

    <div class="flex gap-3 my-3 items-center">
      <app-select
        class="flex-1"
        [options]="priorityOption"
        placeholder="select priority"
        [selected]="todoData.priority"
        (onSelect)="onSelectPriority($event)"
        [showCircle]="true"
      />
    </div>

    <div class="flex gap-3 my-2">
      <input
        type="checkbox"
        #useTime="ngModel"
        required
        class="text-4xl text-[#515153] border-b scale-150 accent-[#e4e4e4]"
        [(ngModel)]="todoData.useTime"
        name="useTime"
      />
      <p class="text-[#515153]">Time</p>
    </div>

    <div class="ml-20">
      <div class="flex gap-3 my-2 items-center">
        <p class="text-[#515153]">Due date:</p>
        <app-date-picker
          [(ngModel)]="todoData.dueDate"
          name="dueDate"
          [required]="true"
          class="flex-1"
          [disabled]="!todoData.useTime"
        />
      </div>

      <div class="flex gap-3 my-2 items-center">
        <app-button-group
          [buttonGroupItems]="timeModeOptions"
          (onButtonClick)="onClickTimeMode($event)"
          [selectedItem]="todoData.timeMode"
          [disabled]="!todoData.useTime"
        />
        <app-time-picker
          [(ngModel)]="todoData.dueDate"
          name="dueDate"
          [required]="true"
          class="flex-1"
          [disabled]="!todoData.useTime || todoData.timeMode === 'all-day'"
        />
      </div>

      <div class="flex gap-3 my-2 items-center">
        <p class="text-[#515153]">Repeat:</p>
        <app-select
          class="flex-1"
          [options]="repeatOption"
          placeholder="select repeat"
          [selected]="todoData.repeat"
          (onSelect)="onSelectRepeat($event)"
          [disabled]="!todoData.useTime"
        />
      </div>
    </div>

    <div class="flex justify-around gap-4 px-4 mt-10 mb-7">
      <button
        class="flex flex-col items-center gap-2 cursor-pointer hover:bg-[#e6e6e6] py-3 flex-1/2 rounded-md"
        routerLink="../"
      >
        <lucide-angular [img]="Cancel" size="32" [strokeWidth]="1.5" />
        <span>Cancel</span>
      </button>
      <button
        class="flex flex-col items-center gap-2 cursor-pointer hover:bg-[#e6e6e6] py-3 flex-1/2 rounded-md"
        (click)="onClickSave()"
      >
        <lucide-angular [img]="Save" size="32" [strokeWidth]="1.5" />
        <span>Save</span>
      </button>
    </div>
  </form>
</div>
