<nav class="flex items-center pt-7 px-8">
  <button class="cursor-pointer" (click)="onToggleMenuCollapse()">
    <lucide-angular [img]="MenuIcon" size="33" />
  </button>

  <div class="flex items-center gap-2 mx-12.5">
    <img
      src="assets/images/logo.png"
      alt="goodo logo"
      class="h-[75px] w-[77px]"
    />
    <span class="text-5xl text-[#515153]">Goodo</span>
  </div>

  <div
    class="flex-1 items-center flex border border-[#F6F6F6] hover:bg-[#efefef] rounded-[40px] px-[27px] gap-4 shadow-md bg-[#F8F8F8]"
  >
    <label for="search-todo"><lucide-angular [img]="Search" size="33" /></label>
    <input
      id="search-todo"
      type="text"
      placeholder="Search todo"
      [(ngModel)]="searchQuery"
      (ngModelChange)="handleSearch(searchQuery)"
      class="outline-none py-4 w-full placeholder:text-[#707070] text-lg"
    />
  </div>

  <div class="flex ml-4 gap-2 items-center">
    <span class="text-[#707070]">Sort by</span>
    <app-big-select
      placeholder="Sort by"
      [options]="sortByOptions"
      [selected]="sortBy()"
      (onSelect)="onSelectSortBy($event)"
    />
    <button
      (click)="onToggleOrderBy()"
      class="cursor-pointer flex items-center"
    >
      @if (orderBy() === "desc") {
      <lucide-icon [img]="ArrowDownWideNarrow" class="ml-1" />
      } @else {
      <lucide-icon [img]="ArrowUpWideNarrow" class="ml-1" />
      }
    </button>
  </div>

  <lucide-icon [img]="Bell" class="ml-4"></lucide-icon>
</nav>
