<a [routerLink]="linkTo()" [queryParams]="query()">
  <button
    class="w-full py-2 px-3.5 text-[#707070] cursor-pointer rounded-lg text-start justify-center hover:bg-[#EBEBEB] flex gap-2 items-center"
    routerLinkActive="text-black bg-[#EBEBEB]"
  >
    @if (icon()) {
    <lucide-angular [img]="icon()" size="20" class="my-[1px]" />
    } @if (dotColor()) {
    <lucide-angular
      [img]="Circle"
      size="18"
      [strokeWidth]="3"
      class="my-0.5 px-[1px]"
      [class]="dotColor()"
    />
    } @if (linkText()) {
    <p class="flex-1">{{ linkText() }}</p>
    }
  </button>
</a>
