<div
  class="group flex px-7 py-4 border border-[#E4E4E4] rounded-lg items-center hover:bg-[#F4F4F4] cursor-pointer text-[#707070]"
  [class]="selected() ? 'text-black' : ''"
  [routerLink]="todo().id.toString()"
  routerLinkActive="bg-[#F4F4F4] text-black"
>
  <input
    type="checkbox"
    class="scale-150 accent-[#E54E45]"
    [checked]="todo().completed"
    onclick="return false;"
  />
  <lucide-angular
    [img]="Star"
    class="mx-2.5"
    [class]="todo().favourite ? 'fill-yellow-500' : ''"
  />
  <p class="line-clamp-1">{{ todo().name }}</p>

  @if (todoService.menuCollapsed()) {
  <lucide-angular
    [img]="ChevronRight"
    class="mx-2.5"
    class="ml-auto group-hover:hidden"
  />
  }
  <lucide-angular
    [img]="FileEdit"
    class="mx-2.5"
    class="ml-auto group-hover:block hidden"
  />
</div>
